@{
  Layout = "_Layout";
}
<h1>Welcome to Eu Claire's Salon</h1>
<p>We have many talented stylists to give our clients the hairstyles of their dreams.</p>

<p>@Html.ActionLink("See all our stylists","Index","Stylists")</p>
<p>@Html.ActionLink("See our lovely clients","Index","Clients")</p>