@{
  Layout = "_Layout";
}
<h1>Welcome to Eu Claire's Salon</h1>
<h3>We have many talented stylists to give our clients the hairstyles of their dreams.</h3>

<p>@Html.ActionLink("All our stylists","Index","Stylists")</p>
<p>@Html.ActionLink("Our lovely clients","Index","Clients")</p>